<table mat-table [dataSource]="historyArr" class="mat-elevation-z8">

    <ng-container matColumnDef="txId">
      <th mat-header-cell *matHeaderCellDef> Trsnsaction ID </th>
      <td mat-cell *matCellDef="let his"> {{his.txId}} </td>
    </ng-container>
      
    <ng-container matColumnDef="bal">
      <th mat-header-cell *matHeaderCellDef> Balance After Transaction </th>
      <td mat-cell *matCellDef="let his"> {{his.bal}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>